**pycache**/
**/__pycache__/
*.pyc
.git/
.env
Data/
notebooks/
Notebooks/
*.ipynb
*.xlsx
logs/

outputs/*
!outputs/Saved_Models/
!outputs/Saved_Models/**
!outputs/pipeline_metadata.json

credentials.json
stock-prices-*.json
credentials/
workflow_state.json
state/

.DS_Store
.gitignore
.venv/
venv/
env/
.vscode/
.idea/
*.log
**/*.pyo
**/*.pyd
